 /*
CSS RESET
A version of this: https://piccalil.li/blog/a-more-modern-css-reset/
*/
 
  *,
   *:before,
   *:after {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
   }
 
 /* Prevent font size inflation */
   html {
     -moz-text-size-adjust: none;
     -webkit-text-size-adjust: none;
     text-size-adjust: none;
   }
 
   /* Remove default margin in favour of better control in authored CSS */
 
 body, h1, h2, h3, h4, p,
 figure, blockquote, dl, dd {
   margin-block-end: 0;
 }
 
 /* Inherit fonts for inputs and buttons */
 input, button,
 textarea, select {
   font-family: inherit;
   font-size: inherit;
 }
 
 textarea:not([rows]) {
   min-height: 10em;
 }
 
 :target {
   scroll-margin-block: 5ex;
 }
 
 /* Make images easier to work with */
 img,
 picture,
 svg,
 video {
   display: block;
   max-inline-size: 100%;
   height: auto;
 }
 
 /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
 ul[role='list'],
 ol[role='list'] {
   list-style: none;
 }
 
 a:not([class]) {
   text-decoration-thickness: max(0.06rem, 1px);
   text-underline-offset: 0.3rem;  
 }
 
 /* Set core body defaults */
 body {
   min-height: 100vh;
 }
 
 /* Anything that has been anchored to should have extra scroll margin */
 :target {
   scroll-margin-block: 5ex;
 }