/*
UTILITY

1_ FLOW
2_ POSITIONING
3_ PADDING
4_ COLOR
5_ REMOVE
6_ OTHER
*/

/********************************************************/

/************ 1_ FLOW ************/              

/*********************************************************/

.flow {
    --flow-space: 1rem;
  }  
  .flow > * + * { 
    margin-top: var(--flow-space);
  }  
  h2 {
    --flow-space: 3.6rem;
  }  
  h3 {
    --flow-space: 2rem;
  }  
  h4{
    --flow-space: 1.3rem;
  }  
  section{
    --flow-space: 5rem;
  }  
  img{
    --flow-space: 2rem;
  }  
  blockquote,
  blockquote + * {
    --flow-space: 3rem;
  }  
  
/********************************************************/

  /************ 2_ POSITIONING  ************/            

/*********************************************************/
 
  .text-center{
    text-align: center; 
  }
  
  .center-me {
    display: grid;
    justify-items: center;
  }  
  
  .pretty{ 
   text-wrap: pretty;
  }
  
  .float-right{
   float: right;
  }

  .justify-self-end{
    justify-self: end;
  }
  
/********************************************************/

  /************ 3_ PADDING  ************/            

/*********************************************************/
    
.pad-block-end-2xl {
  padding-block-end: var(--space-2xl);}

.pad-block-start-2xl{
  padding-block-start: var(--space-s-2xl);
}
 .margin-block-start-l {
  margin-block-start: var(--space-l);
 }

/********************************************************/

  /************ 4_ COLOR  ************/            

/*********************************************************/

.dot {    
  color: var(--tertiary);
 }


 /********************************************************/

/************ 5_ REMOVE************/            

/*********************************************************/

/* Accessibility utility */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.no-indent ul li {
  margin-inline-start: initial;
}

span.email b {
	display: none;
}  


 /********************************************************/

/************ 6_ OTHER************/            

/*********************************************************/

/* Helper text styles */
.hint-text {
  display: block;
  font-size: var(--step--1);
  color: var(--text);
  margin-block-start: 0.25rem;
}

.error-message {
  display: block;
  color: var(--tertiary);
  font-size: 0.875rem;
  margin-block-start: 0.25rem;
}